<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535839392360-j4hh70m8jip5kuiqc58tu84r0e96q3vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535839392360-j4hh70m8jip5kuiqc58tu84r0e96q3vv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>535839392360-64c1ab5v8k25gt748ano051qs4qo1ccu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdBTu-ffYOtliPV77Z8al_evKfaZYPnpY</string>
	<key>GCM_SENDER_ID</key>
	<string>535839392360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobapp.at.FunAsia</string>
	<key>PROJECT_ID</key>
	<string>bigfan2-433c6</string>
	<key>STORAGE_BUCKET</key>
	<string>bigfan2-433c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535839392360:ios:7173487d867eb9a3c831dd</string>
	<key>DATABASE_URL</key>
	<string>https://bigfan2-433c6-default-rtdb.firebaseio.com</string>
</dict>
</plist>