<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.host</key>
	<string>http://3.13.61.50</string>
	<key>app.currencySymbol</key>
	<string>$</string>
	<key>settings.answer-time</key>
	<string>10</string>
	<key>settings.winners-time</key>
	<string>10</string>
	<key>settings.answers</key>
	<string>3</string>
	<key>facebook.client_id</key>
	<string>702741550448367</string>
	<key>video.width</key>
	<string>360</string>
	<key>video.height</key>
	<string>640</string>
	<key>colors.background</key>
	<string>#36324d</string>
	<key>colors.text</key>
	<string>#fafaff</string>
	<key>colors.navbar.background</key>
	<string>#3891a6</string>
	<key>colors.navbar.text</key>
	<string>#fafaff</string>
	<key>colors.system.background</key>
	<string>#fafaff</string>
	<key>colors.system.text</key>
	<string>#000000</string>
	<key>colors.system.button.background</key>
	<string>#3891a6</string>
	<key>colors.system.button.text</key>
	<string>#fafaff</string>
	<key>colors.login.button.background</key>
	<string>#1afafaff</string>
	<key>colors.login.button.text</key>
	<string>#fafaff</string>
	<key>colors.home.watch.background</key>
	<string>#e84855</string>
	<key>colors.home.watch.text</key>
	<string>#fafaff</string>
	<key>colors.home.heart</key>
	<string>#f9dc5c</string>
	<key>colors.lives.icon</key>
	<string>#e84855</string>
	<key>colors.cashout.icon</key>
	<string>#f9dc5c</string>
	<key>colors.chat.username</key>
	<string>#f9dc5c</string>
	<key>colors.chat.text</key>
	<string>#fafaff</string>
	<key>colors.winners.share.background</key>
	<string>#3891a6</string>
	<key>colors.winners.share.text</key>
	<string>#fafaff</string>
	<key>colors.answer.correct</key>
	<string>#a1e8af</string>
	<key>colors.answer.wrong</key>
	<string>#e8b0a1</string>
	<key>colors.answer.neutral</key>
	<string>#cccccc</string>
	<key>colors.answer.highlight</key>
	<string>#3891a6</string>
	<key>colors.show.warning</key>
	<string>#e84855</string>
	<key>colors.show.success</key>
	<string>#38a643</string>
	<key>colors.show.overlay</key>
	<string>#bf000000</string>
	<key>colors.logout.button.background</key>
	<string>#e84855</string>
	<key>colors.logout.button.text</key>
	<string>#fafaff</string>
	<key>colors.account.button.background</key>
	<string>#ffffff</string>
	<key>colors.account.button.text</key>
	<string>#36324d</string>
</dict>
</plist>
